{% extends "base.html" %}

{% block title %}McNaughty's Mansion{% endblock %}

{% block content %}
    <h1>McNaughton's Website</h1>
    <p>My name is Matt McNaughton</p>
    <p>I am a student at Northeastern University</p>
    <p>I am a Cybersecurity and Technology Auditor at Liberty Mutual Insurance</p>
    <div class="container">
        <div class="box">
            <h2>Current Projects</h2>
            <p>I am currently working through TryHackMe's Cybersecurity Platform</p>
        </div>
{% endblock %}